#.classpath # eclipse
#.project   # eclipse

.*

bin
target
build
xtend-gen
src-gen
xsemantics-gen

**/model/generated/

**local.properties

**.jar

# Push these files
!.gitignore
!.classpath
!.project
!.travis.yml
!it.unica.tcs.bitcointm.lib-1.0.0-SNAPSHOT-bundled.jar

plugin.xml_gen
