#.classpath # eclipse
#.project   # eclipse

.*

bin
target
build
xtend-gen
src-gen
xsemantics-gen

**/model/generated/

**local.properties

**.jar

# Push these files
!.gitignore
!.classpath
!.project
!.travis.yml
!xyz.balzaclang.balzac.lib-*-bundled.jar

plugin.xml_gen
