<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="it.unica.tcs.bitcointm.target" sequenceNumber="2">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
<unit id="org.eclipse.draw2d.feature.group" version="0.0.0"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.xpand" version="0.0.0"/>
<unit id="org.eclipse.xtend" version="0.0.0"/>
<unit id="org.eclipse.xtend.typesystem.emf" version="0.0.0"/>
<repository location="http://download.eclipse.org/releases/neon/201606221000/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.mwe2.launcher.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/emft/mwe/updates/releases/2.9.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/releases/2.11.0/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="it.xsemantics.feature.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.runtime.feature.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.runtime.feature.source.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.examples.feature.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.sdk.source.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.doc.feature.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.feature.source.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.sdk.feature.group" version="1.11.1.v20170211-1001"/>
<unit id="it.xsemantics.implemented.examples.feature.feature.group" version="1.11.1.v20170211-1001"/>
<repository location="https://dl.bintray.com/lorenzobettini/xsemantics/updates/"/>
</location>
</locations>
</target>
