@import "theme.css";


.wy-nav-content {
    max-width: 1024px;
}

.wy-table thead th, .rst-content table.docutils thead th, .rst-content table.field-list thead th {
    border-top: solid 2px #e1e4e5;
    border-left: solid 1px #e1e4e5;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    vertical-align: middle;
    height: 3em;
}

p.caption {
    margin-top: 12px;
}

.codecompare-block {
    box-sizing: border-box;
    display: inline-block;
    text-align: left;
    width: calc(50% - 2px);
}

/* Code snippets */

.codesnippet-widgets {
    min-width: 100%;
    display: block;
    background: #2980b9;
    color: white;
    padding: 10px 0;
    margin: 0 0 -1px 0;
}

.codesnippet-widgets > span {
    padding: 10px;
    cursor: pointer;
}

.codesnippet-widgets > .current {
    background: #095099;
}

.codeset > .highlight-java {
    display: none;
}

/* fix misaligned line numbers */
.rst-content .highlight > pre {
    line-height: 1.5 !important;
}
