
#result {
	height: 250px;
	font-size: small;
}

#xtext-editor {
	height: 400px
}

.resizable {
	resize: vertical;
	overflow: auto
}

.btn {
	cursor: pointer;
}

.btn.focus, .btn:focus, .btn.active, .btn:active {
	box-shadow: inherit !important;
}
