<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="xyz.balzaclang.balzac.target" sequenceNumber="39">
<locations>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <unit id="org.slf4j.api" version="1.7.30.v20200204-2150"/>
        <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20210223232630/repository"/>
        <unit id="org.apache.commons.logging" version="1.2.0.v20180409-1502"/>
    </location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<repository location="http://download.eclipse.org/releases/2022-06"/>
    	<unit id="org.eclipse.xtext.sdk.feature.group" version="2.27.0.v20220530-0508"/>
	</location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="http://download.eclipse.org/xsemantics/milestones/1.22"/>
        <unit id="org.eclipse.xsemantics.feature.feature.group" version="1.22.0.v20220621-0842"/>
        <unit id="org.eclipse.xsemantics.runtime.feature.feature.group" version="1.22.0.v20220621-0842"/>
        <unit id="org.eclipse.xsemantics.sdk.feature.group" version="1.22.0.v20220621-0842"/>
    </location>
    <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
        <repository location="http://download.eclipse.org/releases/2022-06"/>
        <unit id="org.eclipse.emf.mwe2.runtime.sdk.feature.group" version="2.13.0.v20220519-1115"/>
    </location>
</locations>
    <targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-17"/>
</target>