<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://balzac-lang.xyz/Balzac"
			class = "xyz.balzaclang.balzac.BalzacPackage"
			genModel = "model/generated/Balzac.genmodel" />
	</extension>
</plugin>
